.page.theme_dark {
  --accent-color: #FF0070;
  --main-text-color: #F1B2CE;
  --accent-text-color: #000028;
  --bg-color: #000028;
  background-image: url(../images/cover-image-dark.png);
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #FF0070;
    --main-text-color: #F1B2CE;
    --accent-text-color: #000028;
    --bg-color: #000028;
  }

  .page {
    background-image: url(../images/cover-image-dark.png);
  }
}