.page.theme_light {
  --accent-color: #ff8dcb;
  --main-text-color: #353430;
  --accent-text-color: #353430;
  background-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --main-text-color: #353430;
    --accent-text-color: #353430;
    background-image: url(../images/cover-image-light.png);
  }
}
