.page {
  padding: var(--page-padding);
  background-image: var(--background-theme-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-rows: clamp(34vh, 58vw, 44vh) 1fr clamp(34vh, 58vw, 44vh);
  position: relative;
  block-size: calc(100vh - var(--page-padding) * 2);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border-inline-end: 1px solid var(--decor-color);
  border-block-start: 1px solid var(--decor-color);
  inset-inline-end: 0;
  inset-block-start: 0;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border-inline-start: 1px solid var(--decor-color);
  border-block-end: 1px solid var(--decor-color);
  inset-block-end: 0;
  inset-inline-start: 0;
}

.header__decoration-inscription {
  display: var(--appearance);
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
  font-family: var(--main-font), monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  padding-inline-end: 28px;
  color: var(--decor-color);
}

.header__decoration-inscription::after {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  background: var(--accent-color);
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
  margin: 9px;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.header__theme-menu {
  margin: auto 0;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.header__theme-menu-button {
  font-family: var(--main-font), monospace;
  text-transform: lowercase;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  background-color: transparent;
  padding: 1.5px 13px;
  cursor: pointer;
  color: var(--decor-color);
  border: 1px solid transparent;
  appearance: none;
}

.header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
  border: 1px solid;
  border-color: var(--hover-color);
}

.header__theme-menu-button:focus {
  outline: transparent;
}

.header__theme-menu-button:focus-visible {
  outline: transparent;
  border-bottom: 1px solid var(--decor-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--decor-color);
}

.main-title {
  font-family: var(--main-font), monospace;
  font-style: normal;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: #db00ff;
}

.header__main-title {
  text-shadow: 4px 4px 0px var(--accent-color);
}

.header__paragraph-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: flex-end;
  background-color: var(--accent-color);
  inline-size: fit-content;
  block-size: fit-content;
}

.header__paragraph {
  font-family: var(--main-font), monospace;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  inset-inline-end: 0;
  display: block;
  inline-size: clamp(355px, 47vw, 491px);
  block-size: fit-content;
  margin: auto 0;
}

.heading {
  font-family: var(--main-font), monospace;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
}

.content__heading {
  margin-bottom: 21px;
  color: var(--heading-accent-color);
}

.title-decor {
  color: var(--accent-text-color);
  background-color: var(--accent-color);
}

.title-decor_less-bold {
  font-weight: 400;
}

.content__text {
  font-family: var(--main-font), monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--main-text-color);
  padding-top: 10px;
}

.content__text-link {
  text-shadow: 2px 2px 0px var(--accent-color);
  text-decoration: none;
}

.content__text-link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.content__text-link:focus {
  outline: transparent;
}

.content__text-link:focus-visible {
  outline: transparent;
  outline: 1px solid var(--main-text-color);
}

.content {
  padding-top: clamp(40px, 14vw, 79px);
}

.content__section {
  padding-bottom: clamp(50px, 11vw, 80px);
  display: flex;
  flex-direction: column;
}

.content__item:not(:last-child) {
  padding-bottom: 20px;
}

.content__image-section {
  padding-top: var(--page-padding);
  display: flex;
  flex-direction: column;
  gap: var(--page-padding);
}

.content__image {
  object-fit: cover;
  display: block;
}

.footer__main-title {
  text-align: center;
  text-shadow: 2px 2px 0px var(--accent-color);
}

.footer {
  block-size: calc(100vh - var(--page-padding) * 2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media (width >= 768px) {
  .header__paragraph {
    min-width: 365px;
  }

  .header__main-title {
    margin-inline-start: calc(var(--page-padding) * -1);
  }

  .content__heading {
    min-inline-size: 236px;
  }

  .content__heading-row {
    grid-area: heading-row;
  }

  .content__section-list-container {
    grid-area: list-container;
  }

  .content__section_row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "heading-row list-container list-container";
    column-gap: 20px;
  }

  .content__image {
    inline-size: 100%;
    block-size: 100%;
  }

  .sunset {
    grid-area: sunset;
  }

  .ice-cream {
    grid-area: ice-cream;
  }

  .tape {
    grid-area: tape;
  }

  .books {
    grid-area: books;
  }

  .street {
    grid-area: street;
  }

  .content__image-section {
    display: grid;
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
    gap: 20px;
  }
  .content__heading-column {
    max-inline-size: 30%;
  }
}

@media (width >= 1024px) {
  .header__paragraph {
    min-inline-size: 486px;
  }

  .header {
    grid-template-rows: 39vh 1fr 38vh;
  }

  .main-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__theme-menu {
    margin: 0 auto;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .content__section_column {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-template-areas:
      "heading"
      "list";
  }

  .content__list-column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .content__list-column .content__item:not(:last-child) {
    padding-bottom: 0;
  }
}
